openapi: 3.0.3

info:
  title: Lumina Pipeline — Runs
  version: "1.0.0"
  description: |
    Read-only access to the pipeline runs of the **Lumina Engine**.

    The Engine processes its six data sources in a weekly pass (Sundays at
    midnight, `0 0 * * 0`). This endpoint returns a flat list of runs across all
    stages, newest first, filterable by state.

    ## Stages

    | Stage | Description |
    |-------|-------------|
    | `harvest` | Fetch the source data |
    | `parse` | Transform into the Lumina Core Schema |
    | `hierarchy` | Resolve parent/child relationships |
    | `merge` | Fold SLSP ETH and SLSP Network into one record per work |
    | `unify` | Normalise and merge all sources |
    | `deduplicate` | Cross-source deduplication |
    | `load` | Load the deduplicated set into PostgreSQL |
    | `orchestrate` | Drive the whole pipeline |

    Runs in the `merge`, `unify`, `deduplicate`, `load` and `orchestrate` stages belong
    to no single source and carry `source_id: null`.

    ## What this API cannot tell you

    **Runs cannot be grouped into one pipeline pass.** Prefect records no link
    between an orchestrator run and the runs it triggers. Grouping would mean
    guessing from a time window, and guessing wrongly, so it is not attempted.

    **No progress within a run.** The Prefect server stores no task runs; only
    state, start time and duration are visible.

    **No history before 2026-09-01.** The Prefect metadata database was created that
    day. This is not a retention window — earlier runs simply are not there.
  contact:
    name: ETH Library — Lumina
    email: giuliage@ethz.ch

servers:
  - url: https://api.library.ethz.ch/lumina/v1/pipeline
    description: Production

security:
  - ConsumerKey: []

tags:
  - name: Runs
    description: Flow runs of the Lumina Engine

paths:

  /runs:
    get:
      tags: [Runs]
      summary: List pipeline runs
      description: |
        Returns runs in descending order of start time.

        **Scheduled runs come first.** They have no start time, and `null` sorts
        first in descending order — so the default query leads with the upcoming
        orchestrator runs rather than with recent activity. To see activity, exclude
        the scheduled ones:

        ```
        GET /runs?state=RUNNING,COMPLETED,FAILED,CRASHED,CANCELLED
        ```
      operationId: listRuns
      parameters:
        - name: limit
          in: query
          required: false
          description: Number of runs to return.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: state
          in: query
          required: false
          description: |
            Comma-separated states. Omit to get all of them. Case-insensitive.

            An unknown state is rejected with `400` rather than ignored — otherwise a
            typo would return a plausible-looking but unfiltered list.
          schema:
            type: string
          examples:
            running:
              summary: Currently running
              value: RUNNING
            problems:
              summary: Everything that went wrong
              value: FAILED,CRASHED,CANCELLED
            activity:
              summary: Activity, excluding scheduled runs
              value: RUNNING,COMPLETED,FAILED,CRASHED,CANCELLED
        - name: deployment
          in: query
          required: false
          description: |
            Comma-separated deployment names, exactly as they appear in the
            `deployment` field of the response. Omit to get all deployments.

            An unknown name is rejected with `400` listing the known ones — a typo
            would otherwise return an empty but plausible-looking list. `total`
            reflects the filter, so it is a true count for the selection.
          schema:
            type: string
          examples:
            one:
              summary: One deployment
              value: "Merge: Sources"
            several:
              summary: Several deployments
              value: "Merge: Sources,Deduplicate: Unified,Load: Postgres"
      responses:
        "200":
          description: The runs, newest first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunList"
        "400":
          description: Invalid `state` or `deployment`, or `limit` out of range.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                unknownState:
                  value:
                    detail: >-
                      Unknown state 'BOGUS'. Known: SCHEDULED, PENDING, RUNNING,
                      COMPLETED, FAILED, CANCELLED, CANCELLING, CRASHED, PAUSED.
                unknownDeployment:
                  value:
                    detail: >-
                      Unknown deployment 'Merge: Source'. Known: DAG Orchestrator,
                      Deduplicate: Unified, Harvester: E PICS, ...
                limitTooLarge:
                  value:
                    detail: "limit must be between 1 and 200, got 999."
        "401": { $ref: "#/components/responses/Unauthorized" }
        "502": { $ref: "#/components/responses/PrefectUnavailable" }

components:

  securitySchemes:
    ConsumerKey:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Your consumer key from the Apigee developer portal. This is not the
        backend's internal key — the gateway supplies that itself, and it never
        leaves Apigee.

  responses:
    Unauthorized:
      description: Consumer key missing or invalid.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            detail: Missing API key.
    PrefectUnavailable:
      description: |
        The Lumina Engine's Prefect server is unreachable. Not a fault of this API —
        its other endpoints keep working.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            detail: "Prefect API unreachable: All connection attempts failed"

  schemas:

    RunList:
      type: object
      required: [fetched_at, total, runs]
      properties:
        fetched_at:
          type: string
          format: date-time
          description: |
            When the backend queried Prefect. On a gateway cache hit this may be up
            to 60 seconds old.
          example: "2026-09-06T08:54:09Z"
        total:
          type: integer
          description: |
            The number of **all** runs matching the filter — may exceed the length of
            `runs` when `limit` applies.
          example: 27
        runs:
          type: array
          items: { $ref: "#/components/schemas/Run" }

    Run:
      type: object
      required:
        [id, name, state, state_name, started_at, ended_at, duration_seconds,
         run_count, next_scheduled_start_time, deployment, source_id, stage]
      properties:
        id:
          type: string
          format: uuid
          example: 1031e89d-f0ac-44a1-8cb4-b48b705cdb9a
        name:
          type: string
          description: |
            The random name Prefect assigns to a run — the name it also appears under
            in the Prefect UI.
          example: rainbow-octopus
        state:
          $ref: "#/components/schemas/RunState"
        state_name:
          type: string
          example: Completed
        started_at:
          type: string
          format: date-time
          nullable: true
          description: "`null` for scheduled runs that have not started."
          example: "2026-09-06T05:15:01.425777Z"
        ended_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-09-06T05:42:03.303476Z"
        duration_seconds:
          type: number
          format: double
          description: |
            Seconds the run has actually spent **executing** — advancing while it
            runs, final once it finished, `0.0` before it starts.

            This is not wall-clock time since `started_at`, and the difference
            matters. It excludes the gaps between retry attempts, and it stops
            advancing the moment a run leaves the running state: a run stuck in
            `CANCELLING` keeps the figure it had reached. To show how long a run has
            been stuck, compare `started_at` against `fetched_at` instead.
          example: 1621.877699
        run_count:
          type: integer
          description: Execution attempts. A value above 1 means Prefect retried.
          example: 1
        next_scheduled_start_time:
          type: string
          format: date-time
          nullable: true
          description: For scheduled runs, when they are due to start.
          example: null
        deployment:
          type: string
          nullable: true
          description: Name of the Prefect deployment.
          example: "Parse: ALMA ETH"
        source_id:
          type: string
          nullable: true
          description: |
            The data source this run belongs to, or `null` for cross-source stages.
          enum:
            - slsp_eth
            - slsp_network
            - epics
            - erara
            - research_collection
            - semantic_scholar
            - null
          example: slsp_eth
        stage:
          type: string
          nullable: true
          description: |
            Derived from the deployment, not supplied by Prefect. A new deployment in
            the Lumina Engine appears as `null` until this API is updated.
          enum:
            - harvest
            - parse
            - hierarchy
            - merge
            - unify
            - deduplicate
            - load
            - orchestrate
            - null
          example: parse

    RunState:
      type: string
      description: The run's state type in Prefect.
      enum:
        - SCHEDULED
        - PENDING
        - RUNNING
        - COMPLETED
        - FAILED
        - CANCELLED
        - CANCELLING
        - CRASHED
        - PAUSED
      example: COMPLETED

    Error:
      type: object
      required: [detail]
      properties:
        detail:
          type: string
