openapi: 3.0.3

info:
  title: Lumina Pipeline — Data Sources
  version: "1.0.0"
  description: |
    Read-only access to the six data sources of the **Lumina Engine**.

    The Lumina Engine consolidates metadata from six bibliographic and scholarly
    source systems into a shared data model, orchestrated with Prefect. This API
    translates Prefect's view into the terms **source**, **stage** and **last run**.

    ## Pipeline stages

    | Stage | Meaning |
    |-------|---------|
    | `harvest` | Fetch the source data and store it as raw records |
    | `parse` | Transform into the shared Lumina Core Schema |
    | `hierarchy` | Resolve parent/child relationships (e-rara only) |
    | `unify` | Normalise and merge all sources |

    ## About the record counts

    The Lumina Engine's Prefect server stores no structured metrics. The numbers in
    `records` and `metrics` are read out of the log lines of the run that produced
    them, so every figure carries its own provenance. When no matching line is
    found the value is `null` — **never `0`, never estimated**.

    A source's parse count and unify count may differ, and do: on 2026-09-01
    Research Collection parsed 306,939 records but contributed 293,374 at unify.
    This API does not reconcile the two into one number.

    ## Availability

    These endpoints read live from the Prefect server. When it is unreachable they
    answer `502` while the rest of the Lumina Command API stays healthy. Responses
    are cached at the gateway for 60 seconds.
  contact:
    name: ETH Library — Lumina
    email: giuliage@ethz.ch

servers:
  - url: https://api.library.ethz.ch/lumina/v1/pipeline
    description: Production

security:
  - ConsumerKey: []

tags:
  - name: Data sources
    description: The six source systems of the Lumina Engine

paths:

  /sources:
    get:
      tags: [Data sources]
      summary: List all data sources
      description: |
        Returns all six sources with their pipeline stages, the last run of each
        stage, and the record count observed during the last parse run.

        Intended for an overview. Per-stage metrics are available from
        `GET /sources/{source_id}`.
      operationId: listSources
      responses:
        "200":
          description: The six sources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceList"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "502": { $ref: "#/components/responses/PrefectUnavailable" }

  /sources/{source_id}:
    get:
      tags: [Data sources]
      summary: Get one data source in detail
      description: |
        As the list, plus a `metrics` block **per stage** and the shared `unify`
        stage. Each figure names the log line it came from in `matched_line`.
      operationId: getSource
      parameters:
        - name: source_id
          in: path
          required: true
          description: Identifier of the source.
          schema:
            $ref: "#/components/schemas/SourceId"
      responses:
        "200":
          description: The source, with metrics per stage.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceDetail"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Unknown source identifier.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example:
                detail: >-
                  Unknown source 'nosuchsource'. Known: slsp_eth, slsp_network, epics,
                  erara, research_collection, semantic_scholar.
        "502": { $ref: "#/components/responses/PrefectUnavailable" }

components:

  securitySchemes:
    ConsumerKey:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Your consumer key from the Apigee developer portal. This is not the
        backend's internal key — the gateway supplies that itself, and it never
        leaves Apigee.

  responses:
    Unauthorized:
      description: Consumer key missing or invalid.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            detail: Missing API key.
    PrefectUnavailable:
      description: |
        The Lumina Engine's Prefect server is unreachable. Not a fault of this API —
        its other endpoints keep working.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            detail: "Prefect API unreachable: All connection attempts failed"

  schemas:

    SourceId:
      type: string
      description: Identifier of a data source.
      enum:
        - slsp_eth
        - slsp_network
        - epics
        - erara
        - research_collection
        - semantic_scholar
      example: erara

    SourceList:
      type: object
      required: [fetched_at, sources]
      properties:
        fetched_at:
          $ref: "#/components/schemas/FetchedAt"
        sources:
          type: array
          description: Always exactly six entries.
          items: { $ref: "#/components/schemas/Source" }

    SourceDetail:
      type: object
      required: [fetched_at, source]
      properties:
        fetched_at:
          $ref: "#/components/schemas/FetchedAt"
        source:
          allOf:
            - $ref: "#/components/schemas/SourceBase"
            - type: object
              required: [stages]
              properties:
                stages:
                  type: array
                  items: { $ref: "#/components/schemas/StageWithMetrics" }

    SourceBase:
      type: object
      required: [id, label, description]
      properties:
        id:
          $ref: "#/components/schemas/SourceId"
        label:
          type: string
          description: Display name of the source.
          example: E-Rara
        description:
          type: string
          nullable: true
          description: |
            Description taken verbatim from the harvester's Prefect deployment.
            Maintained in the Lumina Engine, not here.
          example: "e-rara METS over OAI-PMH (set `zut`) → erara_*."

    Source:
      allOf:
        - $ref: "#/components/schemas/SourceBase"
        - type: object
          required: [records, stages]
          properties:
            records:
              nullable: true
              allOf:
                - $ref: "#/components/schemas/RecordCount"
              description: |
                Record count from the last parse run's log. `null` when the stage has
                never run, or when no matching log line was found.
            stages:
              type: array
              items: { $ref: "#/components/schemas/Stage" }

    RecordCount:
      type: object
      required: [count, origin, flow, measured_at]
      properties:
        count:
          type: integer
          format: int64
          minimum: 0
          example: 45250
        origin:
          type: string
          description: How the figure was obtained. Currently always `flow-run-log`.
          enum: [flow-run-log]
        flow:
          type: string
          description: The Prefect flow whose log supplied the figure.
          example: "Parse: ERARA"
        measured_at:
          type: string
          format: date-time
          description: End time of that run — the state the figure describes.
          example: "2026-09-06T00:00:33.620826Z"

    Stage:
      type: object
      required: [stage, deployment, description, schedule, paused, last_run]
      properties:
        stage:
          type: string
          enum: [harvest, parse, hierarchy, unify]
          example: parse
        deployment:
          type: string
          description: Name of the Prefect deployment.
          example: "Parse: ERARA"
        description:
          type: string
          nullable: true
          example: "METS/MODS → erara/parsed/erara.parquet (hierarchy writes `ready`)."
        schedule:
          type: array
          nullable: true
          description: |
            Cron expressions of the deployment, or `null`. The per-source stages carry
            no schedule of their own — only the DAG orchestrator is scheduled
            (`0 0 * * 0`, Sundays at midnight).
          items: { type: string }
          example: null
        paused:
          type: boolean
          description: Whether the deployment is paused in Prefect.
          example: false
        last_run:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Run"
          description: |
            The most recently **started** run of this stage. `null` means the stage
            has never run — a normal state, not an error.

    StageWithMetrics:
      allOf:
        - $ref: "#/components/schemas/Stage"
        - type: object
          required: [metrics]
          properties:
            metrics:
              nullable: true
              allOf:
                - $ref: "#/components/schemas/StageMetrics"

    StageMetrics:
      type: object
      required: [records, matched_line]
      description: |
        Figure read from this stage's own log. `null` when no matching line was
        found.
      properties:
        records:
          type: integer
          format: int64
          example: 293374
        matched_line:
          type: string
          description: The log line the figure came from — the evidence for it.
          example: "Loading rc: 293,374 rows in 1 batch(es)..."

    Run:
      type: object
      required:
        [id, name, state, state_name, started_at, ended_at, duration_seconds,
         run_count, next_scheduled_start_time]
      properties:
        id:
          type: string
          format: uuid
          example: 5a5620ae-ad17-46ef-955b-26b1bb2de87f
        name:
          type: string
          description: |
            The random name Prefect assigns to a run — the name it also appears under
            in the Prefect UI.
          example: competent-weasel
        state:
          $ref: "#/components/schemas/RunState"
        state_name:
          type: string
          description: Display name of the same state.
          example: Completed
        started_at:
          type: string
          format: date-time
          nullable: true
          description: "`null` for scheduled runs that have not started."
          example: "2026-09-06T00:00:07.110239Z"
        ended_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-09-06T00:00:33.620826Z"
        duration_seconds:
          type: number
          format: double
          description: Elapsed time so far for a running run, total run time otherwise.
          example: 26.510587
        run_count:
          type: integer
          description: Execution attempts. A value above 1 means Prefect retried.
          example: 1
        next_scheduled_start_time:
          type: string
          format: date-time
          nullable: true
          example: null

    RunState:
      type: string
      description: The run's state type in Prefect.
      enum:
        - SCHEDULED
        - PENDING
        - RUNNING
        - COMPLETED
        - FAILED
        - CANCELLED
        - CANCELLING
        - CRASHED
        - PAUSED
      example: COMPLETED

    FetchedAt:
      type: string
      format: date-time
      description: |
        When the backend queried Prefect. On a gateway cache hit this may be up to
        60 seconds old.
      example: "2026-09-06T08:54:09Z"

    Error:
      type: object
      required: [detail]
      properties:
        detail:
          type: string
